@font-face {
  font-family: "Newsreader Display";
  src: url("NewsreaderDisplay-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter Display";
  src: url("InterDisplay-Regular.woff") format("woff");
}

body {
  padding: 2rem 5rem;
  font-family: "Inter Display";
  font-size: 1.1rem;
  line-height: 200%;
  max-width: 1200px;
  margin: 0 auto;
}

.active {
  color: #aaaaaa;
}

nav {
  position: sticky;
  top: 0px;
  background-color: white;
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 2rem;
}

.navlist {
  font-family: "Newsreader Display";
  font-size: 2rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1rem 4rem;
  padding-bottom: 2rem;
}

.navlist a {
  text-decoration: none;
  color: inherit;
}

.aboutpg {
  display: flex;
}

.about {
  width: 50%;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypic {
  width: 60%;
}

img {
  max-width: 100%;
}

.achv {
}

.contact {
  display: block;
  margin: auto;
  width: anything under 100%;
}
/* @media(min-width:800px){
} */
/* .class #id for element just use its name */
